@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.data-\[state\=open\]\:animate-in {
  animation: slideIn 150ms ease-out;
}

.data-\[state\=closed\]\:animate-out {
  animation: slideOut 150ms ease-in;
}